<h2>QAを検索</h2>
  <%= form_tag('/search', method: :get) do %>
    <input class="search__query" name="keyword" placeholder="キーワードで検索" type="text" value=""><button class="btn-search" title="検索" type="submit"><i class="icon-search"></i></button></input>
  <% end %>
<form accept-charset="utf-8" action="/" class="js-search-submit" method="get">
</form>


<% @products.each do |product| %>
<li>
  <p><%= link_to product.title, product %> <p>
    <% end %>
  </li>


ランキング一覧など
