<link rel='stylesheet' href='css/about_us.css' type='text/css' media='all' />

<h2 class='link'><img src="<%= asset_path "title/aboutus.png" %>" /></h2>

<p class='aboutus'>MANETECHは、「専門情報を書籍からWEBへ」をビジョンとするメディアです。</p>
<p class='aboutus'>今まで、書籍上にしかないような専門情報をWEB上に掲載していき、税理士一人一人がよりお客様に価値のあるものを提供することができる</p>
<p class='aboutus'>環境を創造することを目的としており、MANATECHにしかない価値を提供するメディアを目指します。</p>

<p class='aboutus'>また、会社担当者が利用することにより、簡単な疑問は自己解決し、難題な事項のみ税理士に確認をする環境を整えていくことも目的としています。</p>

<p class='aboutus'>税金のみならず、会計、経営等の情報について、どんどん増やしていく方針ですので、今後をお楽しみにしてください。</p>

<p class='aboutuscontact'>・MANETECHへのお問い合わせ先</p>
<p class='aboutusmail'>[a]</p>
<p class='aboutusmail'>[a]を＠に変更してください。</p>

<p class='linkservice'></p>

<h2 ><img src="<%= asset_path "title/service.png" %>" /></h2>

<p class='aboutus'>mana techが運営しているサービスは大きく分けて２つになります。</p>

<p class='aboutustitle'>・QAについて</p>
<p class='aboutus2'>「書籍にしかない専門情報をWEBへ」を合言葉に　　サービスです。</p>
<p class='aboutus2'>税理士、公認会計士の方はもちろん、一般企業の経理・財務で仕事をするのにあたり必要な税の知識をQA方式にまとめたものになります。</p>
<p class='aboutus2'>内容については、適宜アップデートしていき、増加させていく予定で、現時点で約２，０００以上のQAをご用意しております。</p>
<p class='aboutus2'>現在の内容は税務のみになりますが、今後は経営、財務分析、資金調達などの内容も発信していきますのでもお楽しみに…</p>

<p class='aboutus2'>サンプルのリンク</p>

<p class='aboutustitle2'>・NewsLetter</p>
<p class='aboutus2'>税務や経営などに関する情報をまとめたものをワード形式でご用意しております。</p>
<p class='aboutus2'>そのときの旬やひとつの事柄をシリーズ化したものをご用意してます。</p>
<p class='aboutus2'>タイトル、税理士事務所名を変更するだけで、時間をかけずにオリジナルの資料を作成することが可能になります。</p>
<p class='aboutus2'>お客様に配るのもよし、職員の勉強用によし、もちろん自分自身の勉強用にもよし。</p>
<p class='aboutus2'>このような紙媒体を用いることにより、最新情報を顧問先に提供するだけではなく、コミュニケーションツールのひとつとしてご活用ください。</p>

<p class='aboutus2'>サンプルファイルのリンク</p>


<h2 class='link'><img src="<%= asset_path "title/price.png" %>" /></h2>


<p class='aboutus3'>これだけの内容なのに料金は年間税込で9,980円（一年契約　月契約だと998円）</p>


<p></p>
