<link rel='stylesheet' href='css/agreement.css' type='text/css' media='all' />



<h3 class='link'><img src="<%= asset_path "title/agreement.png" %>" /></h3>
<p class="agreements">この利用規約（以下，「本規約」といいます。）は，mana tech運営局（以下，「当社」といいます。）がこのウェブサイト上で提供するサービス（以下，「本サービス」といいます。）の利用条件を定めるものです。登録ユーザーの皆さま（以下，「ユーザー」といいます。）には，本規約に従って，本サービスをご利用いただきます。</p>
<br>
<br>

<p class="agreementtitle">第1条（適用）</p>
<p class="agreement">本規約は，ユーザーと当社との間の本サービスの利用に関わる一切の関係に適用されるものとします。</p>
<br>

<p class="agreementtitle">第2条（利用登録）</p>
<p class="agreement">登録希望者が当社の定める方法によって利用登録を申請し，当社がこれを承認することによって，利用登録が完了するものとします。</p>
<p class="agreement">当社は，利用登録の申請者に以下の事由があると判断した場合，利用登録の申請を承認しないことがあり，その理由については一切の開示義務を負わない
ものとします。</p>
<p class="agreement">（1）利用登録の申請に際して虚偽、誤記又は記載漏れがあった場合</p>
<p class="agreement">（2）本規約に違反したことがある者からの申請である場合</p>
<p class="agreement">（3）過去に本サービスの利用の登録を取り消された者である場合</p>
<p class="agreement">（4）未成年者、成年被後見人、被保佐人又は被補助人のいずれかであり、法定代理人、後見人､保佐人又は補助人の同意等を得ていなかった場合</p>
<p class="agreement">（5）反社会的勢力等（暴力団、暴力団員、右翼団体、反社会的勢力、その他これに準ずる者を意味します。以下同じ）である、又は資金提供その他を通じて反社会的勢力等の維持、運営若しくは経営に協力若しくは関与する等反社会的勢力等との交流若しくは関与を行っていると当社が判断した場合</p>
<p class="agreement">（6）その他，当社が利用登録を相当でないと判断した場合</p>
<br>

<p class="agreementtitle">第3条（ユーザーIDおよびパスワードの管理）</p>
<p class="agreement">ユーザーは，自己の責任において，本サービスのユーザーIDおよびパスワードを管理するものとします。</p>
<p class="agreement">ユーザーは，いかなる場合にも，ユーザーIDおよびパスワードを第三者に譲渡または貸与することはできません。当社は，ユーザーIDとパスワードの組み合わせが登録情報と一致してログインされた場合には，そのユーザーIDを登録しているユーザー自身による利用とみなします。</p>
<p class="agreement">ユーザーはID及びパスワードの使用及び管理に責任を持つものとします。</p>
<p class="agreement">ユーザーの管理不十分，使用上の過誤，第三者の使用等により登録利用者に損害が生じたとしても、当社は一切の責任を負いません。</p>
<p class="agreement">当社は，当社の自由な判断によって，一定回数以上にわたりログインに失敗した等，ユーザーのID及びパスワードに不正利用の可能性があると判断した場合は，当該ID及びパスワードを一定期間利用停止とすることができるものとします。</p>
<p class="agreement">なお、当社がこのような処置をとったことにより当該ユーザーがID及びパスワードを使用できず損害が生じても，当社は一切の責任を負いません。</p>
<br>

<p class="agreementtitle">第4条（利用料金および支払方法）</p>
<p class="agreement">ユーザーは，本サービス利用の対価として，当社が別途定め，本ウェブサイトに表示する利用料金を，当社が指定する方法により支払うものとします。</p>
<p class="agreement">ユーザーが利用料金の支払を遅滞した場合には，ユーザーは年１４．６％の割合による遅延損害金を支払うものとします。</p>
<br>

<p class="agreementtitle">第5条（禁止事項）</p>
<p class="agreement">ユーザーは，本サービスの利用にあたり，以下の行為をしてはなりません。</p>
<p class="agreement">（1）法令または公序良俗に違反する行為</p>
<p class="agreement">（2）犯罪行為に関連する行為</p>
<p class="agreement">（3）当社のサーバーまたはネットワークの機能を破壊したり，妨害したりする行
為</p>
<p class="agreement">（4）当社のサービスの運営を妨害するおそれのある行為</p>
<p class="agreement">（5）他のユーザーに関する個人情報等を収集または蓄積する行為</p>
<p class="agreement">（6）他のユーザーに成りすます行為</p>
<p class="agreement">（7）当社のサービスに関連して，反社会的勢力に対して直接または間接に利益
を供与する行為</p>
<p class="agreement">（8）その他，当社が不適切と判断する行為</p>
<br>

<p class="agreementtitle">第6条（本サービスの提供の停止等）</p>
<p class="agreement">当社は，以下のいずれかの事由があると判断した場合，ユーザーに事前に通知することなく本サービスの全部または一部の提供を停止または中断することができるものとします。</p>
<p class="agreement1">(1) 本サービスにかかるコンピュータシステムの保守点検または更新を行う場合</p>
<p class="agreement1">(2) 地震，落雷，火災，停電または天災などの不可抗力により，本サービスの提供が困難となった場合</p>
<p class="agreement1">(3) コンピュータまたは通信回線等が事故により停止した場合</p>
<p class="agreement1">(4) その他，当社が本サービスの提供が困難と判断した場合</p>
<p class="agreement">当社は，本サービスの提供の停止または中断により，ユーザーまたは第三者が被ったいかなる不利益または損害について，理由を問わず一切の責任を負わないものとします。</p>
<br>

<p class="agreementtitle">第7条（利用制限および登録抹消）</p>
<p class="agreement">当社は，以下の場合には，事前の通知なく，ユーザーに対して，本サービスの全部もしくは一部の利用を制限し，またはユーザーとしての登録を抹消することができるものとします。</p>
<p class="agreement1">(1) 本規約のいずれかの条項に違反した場合</p>
<p class="agreement1">(2) 登録事項に虚偽の事実があることが判明した場合</p>
<p class="agreement1">(3) その他，当社が本サービスの利用を適当でないと判断した場合</p>
<p class="agreement">当社は，本条に基づき当社が行った行為によりユーザーに生じた損害について，一切の責任を負いません。</p>
<br>

<p class="agreementtitle">第8条（個人情報の取り扱い）</p>
<p class="agreement">当社は，ユーザーが登録した個人情報、ユーザーが当社のサービスを通じて当社に提供した個人情報，その他の登録利用者が当社に提供したすべての個人情報は本サービスの「プライバシーの考え方」に基づき，適切に取り扱うものとします。</p>
<p class="agreement">当社は、ユーザーが当社に提供した情報、データ等を、個人を特定できない形での統計的な情報として、当社の裁量で、利用及び公開することができるものとし、ユーザーはこれに異議を唱えないものとします。</p>
<br>

<p class="agreementtitle">第9条（免責事項）</p>
<p class="agreement">(1) 当社は，本サービスの提供中止，停止，故障等により損害が生じたとしても，これについて一切の責任を負いません。</p>
<p class="agreement">(2) 本ユーザーは，本サービスにおいて，下記の事情により一定期間，本サービスの利用が停止される場合があることを予め承諾し，本サービスの停止による損害の補償等を当社に請求しないこととします。</p>
<p class="agreement2">1. 本サービス又は本サービスが提携するサービスのサーバー，ソフトウェア等の点検，修理，補修等のための停止の場合</p>
<p class="agreement2">2. コンピューター，通信回線等の事故による停止の場合</p>
<p class="agreement2">3. その他，やむをえない事情による停止が必要であると当社が判断し，停止を行った場合</p>
<p class="agreement">(3) 当社はいかなる状況においても，またいかなる方に対しても，以下の各号に定める事項について一切責任を負いません。</p>
<p class="agreement2">1. 本サービスを通じて提供される情報の入手，解釈，分析等に関わる一切の誤り（当社の不注意によるか，その他によるかを問わず）又はその他の状況により（全部，一部を問わず）引き起こされ，発生し，若しくはこれらに起因する損失又は損害</p>
<p class="agreement2">2.  本サービスを通じて提供される情報の使用又は使用不可能により発生する，あらゆる種類の直接的，間接的，二次的、又は付随的な損害（このような損害の可能性について当社が事前に通告を受けたかどうかを問わず）</p>
<p class="agreement">本サービスを通じて本利用者が取得する情報については，すべて本利用者の自己の責任と判断のもとで利用されるものとし，その完全性，正確性，確実性，有効性，安全性，合目的性等につき、当社はいかなる保証もせず，その内容から発生するあらゆる問題について一切の責任を負いません。また、本サービスからリンクされているサイトの情報についての責任，及びその内容から発生するあらゆる問題について当社は一切の責任を負いません。</p>
<p class="agreement">当社は，本サービスに関して，ユーザーと他のユーザーまたは第三者との間において生じた取引，連絡または紛争等について一切責任を負いません。</p>
<p class="agreement">本規約に定める免責条項が適用されない等の理由により，当社が本利用者又は第三者に対して責任を負うべき場合，当社に故意又は重過失がある場合を除き，それらの責任に基づく損害賠償額はいかなる場合でも通常生じうる損害の範囲内かつ金１千円を上限額とすることに，当社及びユーザーは予め合意します。</p>
<p class="agreement">なお，本利用者は，本利用者がこの上限額の定めに同意しない限り当社が本サービスを提供しないことを十分に理解の上で，予め同意し承諾するものとします。</p>
<br>

<p class="agreementtitle">第10条（退会）</p>
<p class="agreement">(1) ユーザーは、当社所定の方法で当社に通知することにより、通知日の属する月の月末をもって本サービスから退会することができます。</p>
<p class="agreement">(2) 退会に際し、当社に対して負っている債務がある場合には、ユーザーは当該債務の一切について当然の期限の利益を失い、直ちに当社に対してすべての債務の支払いを行わなければなりません。</p>
<br>

<p class="agreementtitle">第11条（サービス内容の変更等）</p>
<p class="agreement">(1) 当社は，理由の如何を問わず、本利用者に事前に通知することなく，本サービスの内容の全部又は一部を変更，削除，又は追加することができるものとします。</p>
<p class="agreement">(2)当社は，本利用者に1か月前までに通知の上，本サービスの全部又は一部を中止又は廃止することができるものとします。ただし，本サービスの全部又は一部を中止又は廃止する緊急の必要性がある場合は，事前の通知を行うことなく，中止又は廃止をすることができるものとします。</p>
<p class="agreement">(3) 当社は，本サービスを中止又は廃止したことにより本利用者又は第三者に生じた損害について，一切責任を負わないものとします。</p>
<br>

<p class="agreementtitle">第12条（登録情報の変更）</p>
<p class="agreement">(1)ユーザーは，当社に届け出ているメールアドレスに変更が生じた場合には，速やかに本サービス上で所定の変更手続を行う方法により，登録内容の変更届出を行うものとします。登録内容の変更がなされなかったことにより生じた損害については，全て当該ユーザーが負うものとし、当社は一切の責任を負いません。</p>
<p class="agreement">(2) ユーザーに対する当社からの通知は、通知時において，本サービスに登録されている登録利用者のメールアドレスにメールを送信することをもって通知したものとみなします。</p>
<p class="agreement">(3)ユーザーは、当社からユーザー宛に送信される電子メールの受信を拒否する設定等を行ってはならないものとし，受信拒否設定や登録利用者のメールアドレスが変更された等の事情により，当該ユーザーに配信されたメールがエラー等により不着であった場合でも，当社からの通知の発信時をもって通知がなされたものとみなします。</p>
<p class="agreement">(4) 当社は、当該ユーザーに配信されたメールがエラー等になった場合，当該メールアドレスへのメールの配信を止めることができるものとします。
前二項の場合に，ユーザーが当社からの通知を受領できなかったことで，ユーザーに損害が生じたとしても、当社は一切の責任を負いません。</p>
<br>

<p class="agreementtitle">第13条(本サービスに関する権利帰属)</p>
<p class="agreement">本ウェブサイト及び本サービスに関する所有権及び知的財産権は,全て当社に専属的に帰属しており、本規約に定める登録に基づく本サービスの利用許諾は,本ウェブサイト又は本サービスに関する当社の知的財産権の使用許諾を意味するものではありません。登録ユーザーは,如何なる理由によっても,当社の知的財産権を侵害するおそれのある行為をしないものとします。</p>
<br>

<p class="agreementtitle">第14条(有効期間)</p>
<p class="agreement">(1) 本契約は、ユーザーについて第2条に基づく登録が完了した日に効力を生じ、ユーザーの登録が取り消された日又は本サービスの提供が終了した日のいずれか早い日まで、当社と登録ユーザーとの間で有効に存続するものとします。</p>
<p class="agreement">(2) 利用契約が期間満了又は解除により終了した場合でも、個別契約は当該契約所定の有効期間中有効に存続するものとし、本規約の定めは、当該個別契約に関する限りにおいて、当該契約の有効期間中効力を有するものとします。</p>
<br>

<p class="agreementtitle">第15条（利用規約の変更）</p>
<p class="agreement">(1) 当社は，必要と判断した場合には，ユーザーに通知することなくいつでも本規約を変更することができるものとします。改訂があった場合には「当ウェブサイト」に掲載された時点で，すべての利用者の皆さまに自動的に適用されます。</p>
<p class="agreement">(2)当社は、本規約を変更した場合には、ユーザーに当該変更内容を通知するものとし、当該変更内容の通知後、ユーザーが本サービスを利用した場合又は当社の定める期間内に登録取消の手続をとらなかった場合には、ユーザーは、本規約の変更に同意したものとみなします。</p>
<br>

<p class="agreementtitle">第16条（通知または連絡）</p>
<p class="agreement">ユーザーと当社との間の通知または連絡は，当社の定める方法によって行うものとします。</p>
<br>

<p class="agreementtitle">第17条（権利義務の譲渡の禁止）</p>
<p class="agreement">ユーザーは，当社の書面による事前の承諾なく，利用契約上の地位または本規約に基づく権利もしくは義務を第三者に譲渡し，または担保に供することはできません。</p>
<br>

<p class="agreementtitle">第18条(完全合意)</p>
<p class="agreement">本規約は、本規約に含まれる事項に関する当社と登録ユーザーとの完全な合意を構成し、口頭又は書面を問わず、本規約に含まれる事項に関する当社と登録ユーザーとの事前の合意、表明及び了解に優先します。</p>
<br>

<p class="agreementtitle">第19条(分離可能性)</p>
<p class="agreement">本規約のいずれかの条項又はその一部が、消費者契約法その他の法令等により無効又は執行不能と判断された場合であっても、本規約の残りの規定及び一部が無効又は執行不能と判断された規定の残りの部分は、継続して完全に効力を有するものとします。</p>
<br>

<p class="agreementtitle">第20条（準拠法・裁判管轄）</p>
<p class="agreement">本規約の解釈にあたっては，日本法を準拠法とします。</p>
<p class="agreement">ユーザーと当社との間における紛争については、日本国法を適用し、東京地方裁判所を第一審の専属的合意管轄裁判所とします。</p>
<br>
<p class="agreement">以上</p>
<br>
<br>
<br>

<h3 class='link'><img src="<%= asset_path "title/privacy.png" %>" /></h3>
<p class="agreements">mana tech運営局（以下「当社」）は、以下のとおり個人情報保護方針を定め、個人情報保護の仕組みを構築し、全従業員に個人情報保護の重要性の認識と取組みを徹底させることにより、個人情報の保護を推進致します。</p>
<br>

<p class="agreementtitle">・個人情報の管理</p>
<p class="agreement3">当社は、個人情報への不正アクセス・紛失・破損・改ざん・漏洩などを防止するため、セキュリティシステムの維持・社員教育の徹底等の必要な措置を講じ、安全対策を実施し個人情報の厳重な管理を行ないます。</p>
<br>

<p class="agreementtitle">・個人情報の利用目的</p>
<p class="agreement3">ユーザーからお預かりした個人情報は、主として当社からのご連絡やご質問に対する回答として、電子メールや資料のご送付に利用いたします。</p>
<br>

<p class="agreementtitle">・個人情報の第三者への開示・提供の禁止</p>
<p class="agreement3">当社は、ユーザーよりお預かりした個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。</p>
<p class="agreement3">ユーザーの同意がある場合</p>
<p class="agreement3">法令に基づき開示することが必要である場合</p>
<p class="agreement3">その他、当社が提供するサービスの利用に関連して、利用者が法令や利用規約等に反し、第三者又は当社等の権利、財産、サービスなどを保護するために必要と認められる場合等</p>
<br>

<p class="agreementtitle">・個人情報の安全対策</p>
<p class="agreement3">当社は、個人情報の正確性及び安全性確保のために、セキュリティ対策を講じています。</p>
<br>

<p class="agreementtitle">・法令、規範の遵守と見直し</p>
<p class="agreement3">当社は、保有する個人情報に関して適用される日本の法令、その他規範を遵守するとともに、本ポリシーの内容を適宜見直し、その改善に努めます。</p>
<br>

<p class="agreementtitle">・プライバシーの考え方の改訂について</p>
<p class="agreement3">今後、当社はプライバシーの考え方の全部又は一部を改訂することがあります。</p>
<p class="agreement3">改訂があった場合には、ユーザーに当該変更内容を通知するものとし、当該変更内容の通知後、ユーザーが本サービスを利用した場合又は当社の定める期間内に登録取消の手続をとらなかった場合には、ユーザーは、プライバシーの考え方の変更に同意したものとみなします。</p>
<br>
<p class="agreement">以上</p>
