<link rel='stylesheet' href='css/contents.css' type='text/css' media='all' />


<h3 class='link'><img src="<%= asset_path "title/contents.png" %>" /></h3>

<a class="categorylist"><%= link_to 'News letter', 'newsletter', :class => 'categorylist' %></a>
