<div class="user_page">
  <header class="user_page-header">
    <div class="yjContainer">
      <a href="">
        <h2><%=  current_user.family_name %> <span>さんのマイページ</span></h2>
      </a>
    </div>
  </header>


マイQA一覧
