h3.agreement{
  font-size:2.8em;
  font-weight: bold;
  font-style: normal;
  margin: 0px 0px 0px -13px;
  padding: 0px 0px 0px 0px;
  line-height:1.8;
}

p.agreementtitle{
  font-size: 1.2em;
  font-weight: bold;
  font-style: normal;
  margin: 0px 0px 0px 28px;
  padding: 0px 0px 0px 0px;
  line-height:1.8;
}

p.agreement{
  font-size: 0.7em;
  font-weight: normal;
  font-style: normal;
  margin: 0px 0px 0px 50px;
  padding: 0px 0px 0px 0px;
  line-height:1.8;
}

p.agreements{
  font-size: 0.7em;
  font-weight: normal;
  font-style: normal;
  margin: 20px 0px 0px 50px;
  padding: 0px 0px 0px 0px;
  line-height:1.8;
}

p.agreement1{
  font-size: 0.7em;
  font-weight: normal;
  font-style: normal;
  margin: 0px 0px 0px 65px;
  padding: 0px 0px 0px 0px;
  line-height:1.8;
}

p.agreement3{
  font-size: 0.7em;
  font-weight: normal;
  font-style: normal;
  margin: 0px 0px 0px 65px;
  padding: 0px 0px 0px 0px;
  line-height:1.8;
}

p.agreement2{
  font-size: 0.7em;
  font-weight: normal;
  font-style: normal;
  margin: 0px 0px 0px 75px;
  padding: 0px 0px 0px 0px;
  line-height:1.8;
}
