/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #normal li ul{
   display: none;
 }
 #normal li:hover ul{
   display: block;
 }

 #fade-in li ul{
   visibility: hidden;
   opacity: 0;
   transition: 0s;
 }
 #fade-in li:hover ul{
   visibility: visible;
   opacity: 1;
 }
 #fade-in li ul li a{
   visibility: hidden;
   opacity: 0;
   transition: .5s;
 }
 #fade-in li:hover ul li a{
   visibility: visible;
   opacity: 1;
 }



 .dropmenu{
   *zoom: 1;
   list-style-type: none;
   width: 960px;
   margin: 5px auto 30px;
   padding: 0;
 }
 .dropmenu:before, .dropmenu:after{
   content: "";
   display: table;
 }
 .dropmenu:after{
   clear: both;
 }
 .dropmenu li{
   position: relative;
   width: 20%;
   float: left;
   margin: 0;
   padding: 0;
   text-align: center;
 }
 .dropmenu li a{
   display: block;
   margin: 0;
   padding: 15px 0 11px;
   background: #00FFFF;
   color: #fff;
   font-size: 14px;
   line-height: 1;
   text-decoration: none;
 }
 .dropmenu li ul{
   list-style: none;
   position: absolute;
   z-index: 9999;
   top: 100%;
   left: 0;
   margin: 0;
   padding: 0;
 }
 .dropmenu li ul li{
   width: 100%;
 }
 .dropmenu li ul li a{
   padding: 13px 15px;
   border-top: 1px solid #7c8c0e;
   background: #0000FF;
   text-align: left;
 }
 .dropmenu li:hover > a{
   background: #0000FF;
 }
 .dropmenu li a:hover{
   background: #00008B;
 }
