

h3.topshow{
  font-size: 2em;
  font-weight: normal;
  font-style: normal;
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック';
  margin: 15px 0px -36px 23px;
  padding: 0px 0px 0px 0px;
  line-height:1.8;
}


.pagination {
  font-size: 1.5em;
  display: inline-block;
  padding-left: 0;
  margin: 38px 0px 0px 43px;
  border-radius: 4px;
}
